---
import Layout from '../layouts/Layout.astro';
import Header from '../components/Header.astro';
import Hero from '../components/Hero.astro';
import History from '../components/History.astro';
import Services from '../components/Services.astro';
import Products from '../components/Products.astro';
import Cart from '../components/Cart.astro';
import Contact from '../components/Contact.astro';
import Footer from '../components/Footer.astro';
---

<Layout>
  <Header />
  <main>
    <Hero />
    <History />
    <Services />
    <Products />
    <Contact />
  </main>
  <Cart />
  <Footer />
</Layout>
